# --- Core Application ---
streamlit
pandas
openpyxl
python-dotenv
PyYAML

# --- Database ---
sqlalchemy
psycopg2-binary

# --- AI & Agents ---
langchain
langchain-community
langchain-core
langchain-openai
pydantic

# --- Data Generation & Processing ---
Unidecode
faker==24.0.0